*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato";

   
}
html, body {
  overscroll-behavior: contain; 
  touch-action: pan-y;           
}

ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

@media (max-width: 991.98px) {

    ul{
    gap: 0rem;
}

}
